---
import Container from "./Container.astro"
import servicesData from './Data/services.json';

---



<Container>

<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[50px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">Scopri a quale cantone appartieni</div>
                <div class="text-lg font-normal">Cerca dove abiti e scopri a quale degli 8 cantoni di Centallo appartieni</div>
                
                    <div class="row items-start py-12 md:w-10/12 md:py-10">
                        <form class="space-y-8 md:w-full" id="searchForm">
                            <div>
                                <label for="subject" class="block mb-2 text-base font-medium text-black">Indirizzo</label>
                                <input type="text" id="subject" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Via Roma 12" required>
                            </div>
                            
                            <button type="button" id="submitButton" class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                                <div class="text-center text-white text-xl font-normal leading-7">Cerca</div>
                            </button>

                            

                        </form>
                        
                        <script>
                            
                            import { cantoneFinder } from "../scripts/cantone-finder.mjs";
                            const submit = document.getElementById('submitButton'); 
                            const subject = document.getElementById('subject') as HTMLInputElement; 
                            const response = document.getElementById('responseContainer'); 
                            const imageCantone = document.getElementById('img-output') as HTMLInputElement;
                            if(submit && subject && response && imageCantone){
                                submit.addEventListener('click', async function(event) {
                                const address = subject.value;
                                const cantone = await cantoneFinder(address); // Assuming findCantone returns a promise
                                // Manually submit the form
                                console.log(cantone); 
                                // Display the response in the response container
                                response.textContent = cantone.name;
                                imageCantone.src = cantone.img_src; 

                                // You can add further handling after the function call if needed
                            });}
                        </script>
                        

                    </div>
                    
                   
      
           
            
                    
            </div>
       
    
        </div>
        
        <div class="flex flex-col justify-center items-center gap-[26px] inline-flex text-black">
           
            <div class="text-3xl font-medium" id="responseContainer"></div>
            <img id="img-output"src="cantoni/question.png" width="30%" alt="Question"/>
           
        </div>
</div>
</Container>

